<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-projct.org/schemas/nlog.xsd"
    Xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    internalLogLevel="Trace"
    internalLogFile="c:\Users\Gallo\Desktop\AccountOwner\backend\AccountOwnerServer\logs\
internal\internallog.txt">

  <targets>
    <target name="logfile" xsi:type="File"
            FileName="C:/Users/Gallo/Desktop/AccountOwner/backend/AccountOwnerServer/logs/
api/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>










    